<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js" integrity="sha512-bHeT+z+n8rh9CKrSrbyfbINxu7gsBmSHlDCb3gUF1BjmjDzKhoKspyB71k0CIRBSjE5IVQiMMVBgCWjF60qsvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>




<script>
    const addElement = (data) =>{
        const main_div = document.createElement('div');


    }
    var categories = () => {
        try {
            axios.get('/api/v1/categories').then(
                (response) => {
                    var data = response.data.data
                    console.log(data)
                    for (var i in data){
                        console.log(i)
                        var el = document.createElement('p', {class: 'category'})
                        el.textContent = data[i].name
                        document.body.appendChild(el)
                    }
                }
            )    
        } catch (error) {
            
        }
        
        
    }
    categories()

</script>
</body>
</html>