{% extends "common.html" %}

{% block meta_title %}Password recovery{% endblock %}

{% block header %}<b>Восстановление пароля</b>{% endblock %}

{% block body %}
<tr>
    <td style="font-family: Arial, sans-serif; padding: 12px 0 12px 0; font-size: 16px; line-height: 19px;">

        Ваш код подтверждения: <br>
        <b style="font-size: 32px; line-height: 48px;">{{ code }}</b>
    </td>
</tr>
<tr>
    <td style="font-family: Arial, sans-serif; padding: 12px 0 12px 0; font-size: 16px; line-height: 19px;">Если вы не пытались восстановить доступ на нашем сайте, просто игнорируйте это сообщение.
    </td>
</tr>
{% endblock %}
