@use 'variables';

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: variables.$danger;
  z-index: -1;

  .background-internal-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    
    &__photo {
      position: absolute;
      top: -50%;

      @for $i from 1 through 70 {
        $rotate-size: 1;
        @if $i % 2 == 0 {
          $rotate-size: 1;
        } @else {
          $rotate-size: -1;
        }
        &:nth-child(#{$i}) {
          --left-start: #{random(20) - 10}vw;
          --left-end: #{random(20) - 10}vw;
          --rotate-start: #{random(180) * $rotate-size}deg;
          --rotate-end: #{random(720) * $rotate-size}deg;
          // left: #{random(100)}vw;
          animation: animate #{$i + random(10)}s linear infinite;
          animation-delay: #{random(6)}s;
        }
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: translateX(var(--left-start)) rotate(var(--rotate-start));
  }
  100% {
    transform: translateX(var(--left-end)) rotate(var(--rotate-end));
    top: 100%;
  }
}