@use 'variables';

.layout {
  min-height: 100vh;
  width: 100%;
  padding-bottom: 16px;
  overflow: hidden;

  &__header {
    height: 80px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .layout-header {
    &__name {
      font-size: 36px;
      line-height: 36px;
      font-weight: 500;
      color: variables.$primary-text;
    }

    &__profile {
      display: flex;
      align-items: center;
    }

    .layout-header-profile {
      &__login {
        margin-left: 25px;
      }

      &__admin-panel, &__cart {
        margin-left: 25px;
      }
    }
  }

  &__content {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    height: calc(100vh - 80px - 28px - 44px - 16px);
  }

  .layout-content {
    &__menu {
      padding-right: 30px;
    }
  }

  .layout-nuxt {
    height: 100%;
    position: relative;
    box-shadow: variables.$shadow-dark;
    padding: 16px;
    border-radius: 4px;
    // background-color: #fff;
    background-color: rgba(255, 255, 255, .95);
    overflow: auto;
  }
  
  .layout-auth-nuxt {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .categories {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;

    &__category-item {
      width: 144px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border: 1px solid variables.$border-extralight;
      background-color: #fff;
      margin: 0px 8px;
      text-decoration: none;
      cursor: pointer;
    }

    .category-item {
      color: variables.$secondary-text;

      &__name {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.018em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      &--active {
        color: variables.$primary !important;
      }
    }
  }
}