@use 'variables';

.profile-page {
  width: 100%;
  font-size: 16px;

  &__info-item {
    color: variables.$regular-text;
    margin-bottom: 6px;
    text-align: center;
  }

  // &__main {

  // }

  &__orders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .order-item {
    width: calc(50% - 6px);
  }

  .order-item:nth-child(odd) {
    margin-right: 6px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 12px 4px;
  }
}

.mobile-profile-page {
  .order-item {
    width: 100%;
  }
}